.Main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Main > *:not(:first-child) {
    margin-top: 14px;
}

.Main > *, .Main > * > * {
    display: block;
}

.Main .input {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px;
}

.Main .label {
    text-align: left;
}