.Over {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Over button {
    font-size: 36px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.Over .title {
    font-size: 40px;
    padding: 14px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 10px;
}

.Over .result-box {
    padding: 14px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 10px;
}

.Over .result-box .result {
    text-align: start;
}

.Over .result-box .table {
    width: 100%;
}

.Over .result-box .table th, td {
    border: black solid 2px;
    margin: 0;
}
