.Lobby {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-70%) translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Lobby > .players {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: start;
}

.Lobby > .room {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: start;
    padding: 10px;
}

.Lobby > .room > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Lobby > .room > h2 {
    margin-bottom: 10px;
}

.Lobby > .room > .row > input {
    font-size: 16px;
    width: 176px;
    padding: 4px;
}

.Lobby > .room > .row > button {
    font-size: 16px;
    width: 80px;
    padding: 4px;
}

.Lobby .players-list {
    font-size: 36px;
    text-align: left;
    margin-top: 14px;
}

.Lobby .players-list > .player-char {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 2px 10px;
}

.Lobby .players-list > .player-char:not(:first-child) {
    margin-left: 14px;
}

.Lobby > *:not(:first-child) {
    margin-top: 14px;
}

.Lobby button {
    font-size: 36px;
    padding: 14px;
}