.Game {
    width: 100%;
}

.Game .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-70%) translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Game .title-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Game .matrix {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.Game .close-game {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    width: 48px;
}