.Create {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    text-align: center;
}

.Create > *:not(:first-child) {
    margin-top: 14px;
}

.Create button {
    padding: 14px;
}

.Create > *, .Create > * > * {
    display: block;
    font-size: 36px;
}

.Create .rows-cols-span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.Create .input {
    width: 80px;
    margin-left: 10px;
    text-align: center;
}