body * {
  margin: 0;
  font-family: 'Nova Square', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body button {
  background-color: white;
  cursor: pointer;
}

body button:hover {
  background-color: #EEE;
}

code {
  font-family: 'Nova Square', sans-serif;
}
