body * {
  margin: 0;
  font-family: 'Itim', sans-serif;
  /* text-transform: uppercase; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
}

body button {
  background-color: white;
  cursor: pointer;
}

body button:hover:not(:disabled) {
  border-style: dashed;
}

code {
  font-family: 'Itim', sans-serif;
}

input, button {
  font-size: 36px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding: 8px;
  outline: none;
}

body .primary {
  background-color: #71C1F0;
}

body .default {
  background-color: #91CEFF;
}

body .accent {
  background-color: #F0B971;

}